
/* default */
.lunch-button {
    font-size: 0.9em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, "HiraMaruPro-W4", "ヒラギノ丸ゴ Pro W4", "Hiragino Kaku Gothic Pro", "HG丸ゴシックM-PRO", sans-serif;

    border: solid 1px #ddd;
    padding: 6px 15px;
    cursor: pointer;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    /*box-shadow: 0px 1px 4px #555;*/
    /*-moz-box-shadow: 0px 1px 4px #555;*/
    /*-webkit-box-shadow: 0px 0px 5px #555;*/

    /*-moz-box-shadow: 0px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);*/
    /*-webkit-box-shadow: 0px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);*/

    background: -moz-linear-gradient(top, #fff, #ddd);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
    -webkit-transition: 0.5s ease-out;
    -moz-transition: 0.5s ease-out;

    color: #555;
}

.lunch-button:hover {
    -moz-box-shadow: 0px 1px 5px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 1px 5px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
    color: #6CE26C;
}
