
div.lunch-menu .lunch-menu-button {
    font-size: 0.9em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, "HiraMaruPro-W4", "ヒラギノ丸ゴ Pro W4", "Hiragino Kaku Gothic Pro", "HG丸ゴシックM-PRO", sans-serif;

    border: solid 1px #ddd;
    padding: 6px 15px;
    cursor: pointer;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    color: #555;
    background-color: #eee;
}

div.lunch-menu .lunch-menu-button:hover {
    text-shadow: 0 1px 5px #ccc;
    /*color: #6CE26C;*/
    color: black;
    border: solid 1px #bbb;
}

.lunch-menu-button + ul.lunch-menu-list {
    display: none;
    border: solid 1px #ddd;
}

.lunch-menu-button + ul.lunch-menu-list li {
    font-size: 0.9em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, "HiraMaruPro-W4", "ヒラギノ丸ゴ Pro W4", "Hiragino Kaku Gothic Pro", "HG丸ゴシックM-PRO", sans-serif;

    margin-left: 5px;
    margin-top: -5px;
    background-color: #eee;
    list-style: none;
    padding: 6px 18px;
    /*border: solid 1px #ddd;*/
    width: 200px;
    cursor: pointer;

    box-shadow: 0px 1px 5px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 2px 5px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 3px 5px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
}

.lunch-menu-button + ul.lunch-menu-list li:hover {
    background-color: #ddd;
}
